{% extends "base.html" %} 
{% load static %}

{% block content %}
<h1 class="lista-titulo">Lista de Cursos Específicos</h1>
<div>
    {% for curso in curso_list %}
    <div class="cursos">
    	<hr>
        <img src="{{ curso.icone }}">
        <hr>
        <h2>{{ curso.nome }}</h2>
        <a href="{% url 'curso_detalhes' curso.slug  %}"><i class="fas fa-search-plus fa-3x"></i></a>
        <a class="detalhes" href="{% url 'curso_detalhes' curso.slug  %}">Ver Detalhes</a>
    </div>
    {% endfor %}

    <div class="paginas">
        {% if is_paginated %}
            {% if page_obj.has_previous %}
                <a href="?page=1">Primeira</a>
                <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
            {% endif %}

            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <a class="pagina-atual" href="?page={{ num }}">{{ num }}</a>    
                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}  
                    <a href="?page={{ num }}">{{ num }}</a>     
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">Próxima</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">Última</a>
            {% endif %}   
        {% endif %}
    </div>
</div>
{% endblock content %}